*{
    padding:0;
    margin:0;
}
body{
    background-color:#e6edd9;
    color:White;
}
.texto{
    text-align:justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    padding:5px 25px;
    color:#000;
}
.img{
    width:100;
    border-radius:1px;
    padding:5px;
    justify-items: center;
}
.encabezado-articulo{
    padding:10px,10px;
    text-align:center;
    color: #dee0b7;
    margin:1em 2em;
    border-radius:5px;
}
.menu{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    padding:0 20px;
   color: #7e815b;
}
#contenedor{
    width:900px;
    height:1000px;
    background-color:#e6edd9;
    max-width: 0 auto;
    border-radius: 5px;
}
#encabezado{
    height:15%;
    background: color #6c8446;
    margin: 1em;
    border-radius:5px;
    text-align: center;
    padding: 0 50px;
   }
#menu {
    height: 5%;
    background-color: #7e815b;
    margin: 1em;
    border-radius: 5px;
}
#pie{
    height: 10%;
    background-color:#6c844e;
    margin: 1.5em;
    text-align:center;
    padding:5px;
}
#fueraSeccion{
    height: 35%;
    width: 36%;
    background-color:#b5bf9a;
    display:inline-block;
    vertical-align:top;
    border-radius:5px;
}
#contenido{
    height:64%;
    width:61%;
    background-color: #b5bf9a;
    margin:0.5em;
    display:inline-block;
    border-radius: 5px;
    text-align: center;
}